/*
Title:   UPDATES Css File
Author:  http://themeforest.net/user/hogash // Marius Hogas
This is  where the updates will be located  */

/* MENU CHASER STYLES */
.chaser {background:#111; background:rgba(0,0,0,0.75); padding:0; position:fixed; left:0; right:0; top:0; width:100%; z-index: 9999;}
.chaser .row {margin-bottom:0;}
.chaser ul.sf-menu {float:none; display:block;}
.chaser ul.sf-menu > li {float:left;}
.chaser ul.sf-menu li a {color:#ddd; font-size:12px; line-height:1; padding:7px 25px 7px 15px;
-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
.chaser ul.sf-menu li a.sf-with-ul {}
.chaser ul.sf-menu li .sf-sub-indicator {top:7px; background-image:url(../images/arrows-ffffff.png);}
.chaser ul.sf-menu li.sfHover > a,
.chaser ul.sf-menu li:hover > a,
.chaser ul.sf-menu li a:hover {color:#fff; background:#000;}
.chaser ul.sf-menu li ul { background:#111; background:rgba(0,0,0,0.75); width:13em !important; }
.chaser ul.sf-menu li li:hover ul,
.chaser ul.sf-menu li li.sfHover ul {left:13.1em !important;}
.chaser ul.sf-menu li:hover ul,
.chaser ul.sf-menu li.sfHover ul {top: 26px;padding-bottom: 5px;}
.chaser ul.sf-menu li li:hover ul,
.chaser ul.sf-menu li li.sfHover ul {top:0;}
iframe[src*="assets.pinterest.com"] {display:none;}

/* BOXED VERSION */
body.boxed {background:#fff url(../images/patterns/pat1.png);}
body.boxed #page_wrapper {width:1200px; border-left: 3px solid #fff; border-right: 3px solid #fff; margin:0 auto; background:#f5f5f5; box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);}


/* TOOLTIP FADE */
.fade {opacity: 0; -webkit-transition: opacity 0.15s linear; -moz-transition: opacity 0.15s linear; -o-transition: opacity 0.15s linear; transition: opacity 0.15s linear; }
.fade.in { opacity: 1; }

.pagenav { margin:10px 0; padding:0; list-style:none; }
.pagenav:before, .pagenav:after {content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.pagenav:after {clear: both; }
.pagenav {zoom: 1;  }

.pagenav li {float:left; }
.pagenav li.pagenav-next {float:right; }
.pagenav li a {font-size: 10px; font-weight: bold; color: #757575; text-transform:uppercase; border:1px solid #eee; border:1px solid rgba(0,0,0,0.1); padding: 7px 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: block; line-height: 1; }
.pagenav li a:hover {color: #595959; border:1px solid #ddd; border:1px solid rgba(0,0,0,0.2); -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear}

#system-message {margin:20px 0 10px;}
#system-message > .message > ul {margin-left:0; background-position: 5px center; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;}

@media (max-width: 767px) {
	.chaser {display:none !important;}
}

/* joomla 3 fixes */
#footer .menu a:hover { background: none; }

.image-boxes img {height: auto;width: 100%;}

/* 1.2 update */
#twitterFeed .timePosted {display:inline-block; color:#9d9d9d; padding-left:10px; border-left:1px solid #707070; font-size:11px; position:absolute; right: 15px; top: 15px; bottom: 15px; width: 45px; vertical-align: middle;line-height: 1;}

.slider_fixed.boxed #slideshow { position: fixed; max-width: 1200px; }
.slider_fixed.boxed #slideshow .iosSlider {max-height: 500px; }

.vmlisting.row-fluid {margin-bottom: 30px;}

#mainbody .sidebar ul.menu li.active > a:after { color: white; left: 8px;}
#mainbody .sidebar ul.menu li.active > a { color: white;}

/***** Update 1.4 */

.plus .theHoverBorder {background-position:center center; background-repeat: no-repeat;}
.nomarginhome section#content {margin-top: 0;}

#header #logo img {max-width: none;}
#header #logo a,
#header a#logo {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/* Header 5 */
header#header.style5 {background:transparent;}
header#header.style5 > .container {border-bottom: 2px solid rgba(255, 255, 255, 0.1);}
header#header.style5 .topnav > li {border-left:1px solid rgba(255,255,255,0.1); padding-left:20px;  margin-top:5px}
header#header.style5 ul.topnav:last-of-type li:first-child {border-left:0; margin-left:0; padding-left:0;}
header#header.style5 .topnav > li >a {line-height:18px;}
/*header#header.style5 #logo a {padding: 28px 10px;}*/

/* Header 6 */
header#header.style6 {background:rgba(255,255,255,0.95); border-top: 3px solid #CD2122; box-shadow:0 3px 5px rgba(0,0,0,0.1);}
header#header.style6 nav#main_menu > ul > li > a { color:#535151; }
header#header.style6 nav#main_menu > ul > li.active > a,
header#header.style6 nav#main_menu > ul > li > a:hover,
header#header.style6 nav#main_menu > ul > li:hover > a {color:#fff;}
header#header.style6 .topnav > li > a { color: #898989; }
header#header.style6 .topnav > li > a > span {background-image: url("../images/glyphicons-halflings.png"); opacity:.5;}

/* header 7 */
header#header.style7 { height: auto; }
header#header.style7 #logo a,
header#header.style7 a#logo {float: none; margin:0 auto; width: 126px; position: absolute; left: 50%; margin-left: -63px;}
/*header#header.style7 #logo a {padding: 15px 0;}*/
header#header.style7 .topnav.navLeft {float: left;}
header#header.style7 .topnav.navLeft > li:first-child {margin-left: 0;}
header#header.style7 .container {position:relative}
header#header.style7 nav#main_menu {margin-top: 86px; float:none; text-align:center;}
header#header.style7 nav#main_menu > ul.sf-menu {display:inline-block; margin-bottom: 5px; }
header#header.style7 #search {position:absolute; right:0; top:40px}
header#header.style7 nav#main_menu .sf-menu a {text-align:start;}

@media (max-width: 480px) {
	header.style1 #logo a, header.style1 a#logo,
	header.style2 #logo a, header.style2 a#logo,
	header.style3 #logo a, header.style3 a#logo,
	header.style4 #logo a, header.style4 a#logo,
	header.style5 #logo a, header.style5 a#logo { float: none; text-align: center; width:100%; }
	#header .topnav.navLeft { float: left; }
	header#header.style3,
	header#header.style5,
	header#header.style6 {background: rgba(0, 0, 0, 0.5);}
	header#header.style7 #logo {position:static; width: 100%; margin: 0;}
	header#header.style7 nav#main_menu {margin-top:0; }

}

/* Menu text separator */
nav#main_menu > ul.sf-menu > li > span.separator {font-size:14px; font-weight:700; color:#fff; padding: 0 12px 0; margin:0 0 5px; display: block; border: 0; line-height: 1; position:relative; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;font-family: 'Lato', 'Helvetica', Arial, serif; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
nav#main_menu > ul.sf-menu ul li span.separator {color:#535353; line-height:27px; font-size:12px; padding:0 12px; }
nav#main_menu > ul.sf-menu > li.active > .separator,
nav#main_menu > ul.sf-menu > li > .separator:hover,
nav#main_menu > ul.sf-menu > li:hover > .separator {background-color: #CD2122; padding: 6px 12px 5px; margin: -6px 0 0 0; }
nav#main_menu > ul.sf-menu li li.parent > span.separator:after { content:''; position:absolute; display: block; right: .75em; background: #CCC; height: 1px; width: 7px; top: 50%; margin-top: -1px; }
/* Chaser menu in case when you get menu text separator */
.chaser ul.sf-menu li .separator {color:#ddd; font-size:12px; line-height:1; padding:7px 25px 7px 15px; display: block;}
.chaser ul.sf-menu li .separator:after {content:''; position:absolute; right:9px; top: 7px; background-image: url(../images/arrows-ffffff.png); background-repeat:no-repeat; background-position: -10px -100px; width:10px; height:10px;}
.chaser ul.sf-menu li li .separator:after {background-position: 0 0;}

/* Call to action Button in Header */
#header.cta_button .container {position:relative;}
#header.cta_button #search {position:absolute; top: 10px; right:10px; clear:none; float:none;}
#header.cta_button #search .searchBtn {margin:0;}
#header.cta_button .topnav {margin-top:13px;}
/*#header.cta_button .topnav.navLeft {float: right;}*/
#header.cta_button .topnav.navRight {margin-right: 50px;}

#ctabutton {clear:right; float: right; position: relative; font-size: 11px; font-weight: 700; color:#fff; text-align: center ; background: #cd2122; padding: 10px 10px 5px; border-radius: 2px; margin-top: 8px;margin-left: 20px; margin-bottom: -7px;}
#ctabutton .trisvg {position:absolute; top: 100%; left:0; width: 100%; height: 5px;}
#ctabutton .trisvg path {fill:#cd2122;}
#ctabutton:hover {background: #fff; color:#000}
#ctabutton:hover .trisvg path {fill:#fff;}
#ctabutton strong {font-size: 17px; font-weight: 900; display:block;}
@media (min-width: 767px) and (max-width: 979px){
	#ctabutton ~ #main_menu {margin-top: 10px;}
}
@media (max-width: 767px){
	#search { margin-right: 10px; margin-top: 10px; }
	#header.cta_button #search {float: right; margin: 10px 10px 0 0; position:relative; top:auto; right:auto;}
	#ctabutton {  margin:10px 10px 0 10px;}
	#ctabutton ~ nav#main_menu { margin-right: 0;  margin-top:10px; }
	#ctabutton ~ nav#main_menu .mobileMenu {max-width: 180px;}
}
@media (max-width: 480px){
	#ctabutton ~ nav#main_menu {float:left; margin: 0 10px; clear: left;}
	#ctabutton ~ nav#main_menu .mobileMenu {max-width: 190px;}

}
@media (max-width: 320px){
	#ctabutton { margin-left: 10px;}
	#ctabutton ~ #main_menu {margin-right:0;}
}

#search .search {z-index: 1;}

/* Logo with InfoCard on Hover */
.logo-container {float:left;}
.logo-container.hasInfoCard {position:relative;}
.logo-container.hasInfoCard:before {content:url(../images/hoverme.png); width: 98px; height:35px; right:100%; margin-right: 20px; top:40px; position:absolute;}
.logo-container #infocard {position:absolute; top:100%; margin-top:20px; width:440px; padding:30px 20px 25px; background:#cd2122; border-radius: 2px; font-size: 12px; display:block; visibility:hidden; opacity:0; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; transition: all 0.2s ease-out;
-webkit-transition-delay: .3s; -moz-transition-delay: .3s; -ms-transition-delay: .3s; -o-transition-delay: .3s; transition-delay: .3s;
-webkit-backface-visibility: hidden;}
.logo-container:hover #infocard { visibility:visible; opacity:1; margin-top:10px; -webkit-transition-delay: 0s; -moz-transition-delay: 0s; -ms-transition-delay: 0s; -o-transition-delay: 0s; -transition-delay: 0s;}
#infocard,
#infocard a {color: #FFF; font-weight: normal; line-height: 1.6;}
#infocard a:hover {color: rgba(255,255,255,.7);}
#infocard p:last-child {margin-bottom: 0;}
#infocard .social-icons {margin-bottom:0;}
#infocard .social-icons li {margin:0;}
#infocard .social-icons li.title {margin-right: 10px;font-size: 15px;}
#infocard .social-icons li a {background-color:transparent; box-shadow: none;}
#infocard .social-icons li a:hover {opacity:.7;}
#infocard .contact-details { background: url(../images/say_hi.png) no-repeat right top; }
@media (max-width: 767px) {
	.logo-container.hasInfoCard:before,
	.logo-container #infocard {display:none;}
}

.fluid-width-video-wrapper { width: 100%; position: relative; padding: 0; }
.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/***** Updates 1.5 */

/* Margins presets */
.mt1x {margin-top:10px !important;} .mt2x {margin-top:20px !important;} .mt3x {margin-top:40px !important;} .mt4x {margin-top:80px !important;} .mt5x {margin-top:120px !important;}
.mb1x {margin-bottom:10px !important;} .mb2x {margin-bottom:20px !important;} .mb3x {margin-bottom:40px !important;} .mb4x {margin-bottom:80px !important;} .mb5x {margin-bottom:120px !important;}
.mr1x {margin-right:10px !important;} .mr2x {margin-right:20px !important;} .mr3x {margin-right:40px !important;} .mr4x {margin-right:80px !important;} .mr5x {margin-right:120px !important;}
.ml1x {margin-left:10px !important;} .ml2x {margin-left:20px !important;} .ml3x {margin-left:40px !important;} .ml4x {margin-left:80px !important;} .ml5x {margin-left:120px !important;}

/* Padding presets */
.pt1x {padding-top:10px !important;} .pt2x {padding-top:20px !important;} .pt3x {padding-top:40px !important;} .pt4x {padding-top:80px !important;} .pt5x {padding-top:120px !important;}
.pb1x {padding-bottom:10px !important;} .pb2x {padding-bottom:20px !important;} .pb3x {padding-bottom:40px !important;} .pb4x {padding-bottom:80px !important;} .pb5x {padding-bottom:120px !important;}
.pr1x {padding-right:10px !important;} .pr2x {padding-right:20px !important;} .pr3x {padding-right:40px !important;} .pr4x {padding-right:80px !important;} .pr5x {padding-right:120px !important;}
.pl1x {padding-left:10px !important;} .pl2x {padding-left:20px !important;} .pl3x {padding-left:40px !important;} .pl4x {padding-left:80px !important;} .pl5x {padding-left:120px !important;}

.tabbable .tab-content {box-sizing:border-box;}

.eBlog .items-row.cols-3 {margin-left: -15px; margin-right: -15px;}
.eBlog .items-row.cols-3 .item {width: 33.33333333%; float:left;}
.eBlog .items-row.cols-3 .itemContainer {margin-left: 15px; margin-right: 15px;}
.eBlog .items-row.cols-3 ul.actions {display:none;}
.eBlog .items-row.cols-3 .itemIntroText img {float:none; clear:both;margin: 0 auto 20px;width: 100%;}

/* Portfolio gallery - other images */
ul.other-images > li {width: 24.2%; margin-bottom: 20px; }
ul.other-images[data-columns="2"] li:nth-child(3),
ul.other-images[data-columns="3"] li:nth-child(4),
ul.other-images[data-columns="4"] li:nth-child(5),
ul.other-images[data-columns="5"] li:nth-child(6),
ul.other-images[data-columns="6"] li:nth-child(7) { clear:left; }
ul.other-images[data-columns="1"] > li { width: 100%; }
ul.other-images[data-columns="2"] > li { width: 50%; }
ul.other-images[data-columns="3"] > li { width: 33.3333%; width: -webkit-calc( (100% - 60px) / 3); width:calc( (100% - 60px) / 3); }
ul.other-images[data-columns="4"] > li { width: 25%; width: -webkit-calc( (100% - 80px) / 4); width:calc( (100% - 80px) / 4); }
ul.other-images[data-columns="5"] > li { width: 20%; width: -webkit-calc( (100% - 100px) / 5); width:calc( (100% - 100px) / 5); }
ul.other-images[data-columns="6"] > li { width: 16.66666666666667%; width:-webkit-calc( (100% - 120px) / 6); width:calc( (100% - 120px) / 6); }